extends ../layout
block content
	script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
	script(type="text/javascript")
		include ../../public/javascript/root_ads.js
	br
	br
	br
	- if (Ads)
		- each Ad in Ads
			.ad
				.topic
					a(href="/Ads/" + Ad._id)= Ad.Name
				.text= Ad.Text
				.buttom
					.tag= 'Метка: ' + Ad.Tag
					.date= Ad.getDate()
					.user= 'Автор: ' + Ad.User.Name
					.detele_ad(value= Ad._id)= 'Удалить'
	- if(Ads.length == 10)
		a(href='/Admin/ads/' + (num + 10))= 'Следующие 10'