extends ../layout
block content
	h1 Доска объявлений: #{Table.Name}	
	form(action="/Ads/create/" + Table._id method="get")
		input(type="submit" value="Добавить объявление")
	- if (Ads)
		- each Ad in Ads
			div
				p
					a(href="/Ads/" + Ad._id)= "Тема: " + Ad.Name
				p= "Объявление: " + Ad.Text
				p= "Метка: " + Ad.Tag
				p= "Дата: " + Ad.Date
				p= "============================================"
				p
