extends ../layout
block content
	style		
		include ../../public/stylesheet/table.css
	h1 Доска объявлений: #{Table.Name}	
	form(action="/Ads/create/" + Table._id method="get")
		input(type="submit" value="Добавить объявление")
	.ads
		- if (Ads)
			- each Ad in Ads
				.ad
					.topic
						a(href="/Ads/" + Ad._id)= Ad.Name
					.text= Ad.Text
					.buttom
						.tag= 'Метка: ' + Ad.Tag
						.date= Ad.Date
						.user= 'Автор: ' + Ad.User.Name				
