extends ../layout
block content
	h1 #{Ad.Name}
	p Текст:
	p #{Ad.Text}
	P Метка: #{Ad.Tag}
	P Автор: #{Ad.User.Name}
	p Комментарии:
	p
		- if (Ad.Comments)
			- each Comment in Ad.Comments
				p= Comment.Text
				p= Comment.User.Name
				p= Comment.Data
	form(method="post")
		textarea(type="text" name="commentText" placeholder="Коментарий")
		input(type="submit" value="Добавить")
		input(type="hidden" value="put" name="_method")
